<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://faitemplateparser.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5b133a7e-bd0f-42e7-805a-1ce87c9ba66a/resourcegroups/FAITemplateParser/providers/Microsoft.Web/sites/FAITemplateParser</ResourceId>
    <UserName>$FAITemplateParser</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://faitemplateparser.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>